@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1200 South Broadway<br />
    St. Louis, MO 63115<br />
    <abbr title="Phone">P:</abbr>
    314 - 444 - 4444
</address>

<address>
    <strong>Support:</strong>   <a href="plummer.starlet@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="starlplumm@aol.com">Marketing@example.com</a>
</address>